body {
    background-image: url(../img/arqivi.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: auto;
    color: rgb(255, 215, 0);
}

